.check__2{
    margin-left: 1rem;
    font-size : clamp(0.2rem, 2vw, 0.8rem);
}
.check__1{
    font-size : clamp(0.3rem, 2vw, 0.9rem);
}
.accordion-button,.accordion-collapse,.accordion-body{
    max-height: 3rem;
    padding: 0;
}
.contenerdor_accordion{
    width: 100%;
}