.calendar__container{
    display: flex;   
    margin: 1rem 0 0 0; 
}
/* .calendar__box input{
    width: 70%;
    text-align: center;
    border-radius: 1rem;
} */
.calendar__container{
    display: flex;
    flex-direction: column;
}

.react-datepicker__input-container{
    display: flex;
    justify-content: center;
    font-size : clamp(0.5rem, 1vw, 2rem);
}